* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.converter {
  margin: 50px auto;
  width: 500px;
  height: 400px;
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(67,107,115,1) 100%);
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding-top: 30px;
  color: white;
}

.box {
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
}

label {
  display: inline-block;
  color: white;
  width: 120px; 
  text-align: right;
  padding-top: 15px;
  padding-right: 30px;
}

.centimeters {
  width: 200px;
  height: 40px;
}

.height-converted {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
}

.feet, .inches {
  width: 70px;
  height: 40px;
}

.convert-height {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: rgb(219,215,210);
}