body {
  background-image: url('../images/clean-background.jpg');
  background-size: 100%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: .15em;
}

label {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.convert-height {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}